<tr>
  <td><%= service.user.full_name %></td>
  <td><%= link_to service.project.name, service.project%></td>
  <td><%= service.dateworked.strftime('%m/%d/%Y %H:%M') %></td>
  <td><%= service.hours %></td>
  <td><%=link_to "Details",service%> </td>
</tr>
