<h1><%= @service.dateworked %></h1>

<p>User: <%= @service.user.first_name %> <%= @service.user.last_name %></p>
<p>Project: <%= @service.project.name%></p>
<p>Hours: <%= @service.hours %></p>

<% content_for :aside do %>
  <%=render 'sidebar'  %>
  <p><%= button_to "Edit Service", edit_service_path(@service) %></p>
<% end %>
