<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Project has been Updated</h1>
    <p>Name: <%= @project.name %>
    <br>Default Rate: <%= @project.default_charge %>
    <br>Company: <%= @project.company.name %>
    <br>User: <%= @project.user.full_name %>
    <br>Changed at: <%= @project.updated_at.strftime('%m/%d/%Y %I:%M %p') %></p>
  </body>
</html>
